<!DOCTYPE html>
<html>
<head>
    <title>
        AngularJs Checkboxes with Validation Example
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="checkboxApp" ng-controller="checkboxCtrl">
<div>
    <h3>AngularJS Checkboxes with Validations Example</h3>
    Agree Terms and Conditions <input type="checkbox" ng-model="chkselct"><br />
    <span style="color:red;" ng-show="validationmsg">Please select Checkbox</span><br />
    <input type="button" value="Submit" ng-click="checkvalidation();" />
</div>
</body>
</html>