<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf 8">
    <title>Guru99</title>
    <script src="../lib/angular-1.8.0/angular.min.js"></script>
    <script src="../lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="../lib/bootstrap-4.3.1-dist/css/bootstrap.min.css"></script>
    <script src="../lib/jquery-3.5.1.min.js"></script>
</head>

<body  ng-app="">
    <!--RUNOOB.COM-->
    <form name="myForm" ng-init="myText = 'test@gmail.com'">
        Email:
        <input type="email" name="myAddress" ng-model="myText" required>
        <p>Edit email box, view the status</p>
        <p>Valid: <strong>{{myForm.myAddress.$valid}}</strong> (if the input value is valid, it's true)</p>
        <p>Dirty: <strong>{{myForm.myAddress.$dirty}}</strong> (if the value is changed, it's true)</p>
        <p>Touched: <strong>{{myForm.myAddress.$touched}}</strong> (if clicked, it's true)</p>
        <p>Pristine: <strong>{{myForm.myAddress.$pristine}}</strong> (if no input records, it's true)</p>

    </form>
    <hr>
    <hr>
    <hr>
    <h2>AngularJS Form Input Fields Validation Example</h2>
    <form name="personForm">
        First Name: <input type="text" name="firstname" ng-model="person.fname" required />
        <span ng-show="personForm.firstname.$touched && personForm.firstname.$invalid "> Required! </span><br /><br />
        Last Name:<input type="text" name="lastname" ng-model="person.lname" required />
        <span ng-show="personForm.lastname.$dirty && personForm.lastname.$valid"> Thanks for Text </span><br /><br />
    </form>
    <hr>
    <script src="app.js"></script>
</body>
</html>