<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8"> 
    <title>ch12_11</title>
    <link rel="stylesheet" href="ch12_11.css"/>
    <script src="../../../lib/jquery-3.5.1.min.js"></script>
    <script src="../../../lib/angular-1.8.0/angular.js"></script>
    <script src="../../../lib/angular-1.8.0/angular-animate.js"></script>
    <script src="ch12_11.js"></script>
</head>
<body  ng-controller="MainController">
  <label>显示/隐藏正方形: <input type="checkbox" ng-model="isShow" /></label><br/>
  <br />
  <div class="box showBox" ng-if="isShow"></div>
</div>
</body>
</html>