<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf 8">
    <title>Guru99</title>
    <style>
        table, th, td {
            border: 1px solid grey;
            padding: 5px;
        }
    </style>
    <script src="../lib/angular-1.8.0/angular.js"></script>
    <script src="../lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script src="../lib/jquery-3.5.1.min.js"></script>

</head>

<body>
<div ng-app="demo20" ng-controller="demo20Ctrl">
    <div>Basic Table</div>
    <table>
        <tr ng-repeat="ptutor in tutorial">
            <td>{{ptutor.Name}}</td>
            <td>{{ptutor.Description}}</td>
        </tr>
    </table>
    <div>Filter Table</div>
    <table>
        <tr ng-repeat="ptutor in tutorial">
            <td>{{ptutor.Name | uppercase}}</td>
            <td>{{ptutor.Description}}</td>
        </tr>
    </table>
    <div>Ordered Table</div>
    <table>
        <tr ng-repeat="ptutor in tutorial | orderBy: 'Name'">
            <td>{{ptutor.Name}}</td>
            <td>{{ptutor.Description}}</td>
        </tr>
    </table>
    <div>Indexed Table</div>
    <table>
        <tr ng-repeat="ptutor in tutorial | orderBy: 'Name'">
            <td>{{$index + 1}}</td>
            <td>{{ptutor.Name}}</td>
            <td>{{ptutor.Description}}</td>
        </tr>
    </table>
    <div>Even/Odd Table</div>
    <table>
        <tr ng-repeat="ptutor in tutorial">
            <td ng-if="$odd" style="background-color:#f1f1f1">{{$index + 1}}</td>
            <td ng-if="$even">{{$index + 1}}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">{{ptutor.Name}}</td>
            <td ng-if="$even">{{ptutor.Name}}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">{{ptutor.Description}}</td>
            <td ng-if="$even">{{ptutor.Description}}</td>
        </tr>
    </table>
</div>
<script src="app.js"></script>

</body>
</html>