<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf 8">
    <title>Guru99</title>
</head>

<body ng-app="demo10" >
<div ng-controller="DemoController">
    Tutorial Name : <input type="text" ng-model="tutorialName"><br>
    <h3>Filter</h3> <br>
    <strong>Lowercase & Uppercase</strong> <br>
    This tutorial is {{tutorialName | lowercase}}
    This tutorial is {{tutorialName | uppercase}}
    <hr>
    <strong>number</strong><br>
    This tutorialID is {{tutorialID | number:2}}
    <hr>
    <strong>currency</strong><br>
    This tutorial Price is {{tutorialprice | currency}}
    <hr>
    <strong>json</strong><br>
    This tutorial is {{tutorial | json}}

</div>
<hr>
<hr>
<hr>
<!--智能社-->
<div ng-controller="zhinengsheCtrl">
    <ul>
        <li ng-repeat="v in arr">{{v | currency}}</li>
    </ul>
    <div>{{time | date: "yyyy.mm.dd HH:mm:ss"}}</div>
    <ul>
        <li ng-repeat="v in arr">{{v | customerFilter}}</li>
    </ul>
</div>
<hr>
<div ng-controller="accountantCtrl">
    <p ng-repeat="data in arr">
        Product: {{data.name}}
        Price: {{data.count * data.price |  my_price: 55}}
        <!--55 传给 arg-->
    </p>
</div>

<script src="../lib/angular-1.8.0/angular.js"></script>
<script src="../lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
<script src="../lib/jquery-3.5.1.min.js"></script>
<script src="app.js"></script>
</body>
</html>