<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf 8">
    <title>Guru99</title>
</head>

<body ng-app="demo28">
<div ng-controller="selectCtrl">
    <select ng-init="selectedName = names[0]"
            ng-model="selectedName"
            ng-options="x for x in names"></select>
    <hr>
    <!--ng-options 中 x 是一个object-->
    <!--ng-repeat 中 x 是一个字符串-->
    <p>Take array as data source</p>
    <select ng-model="selectedSite" ng-options="x.site for x in sites"></select>

    <h1>Your selection is: {{selectedSite.site}}</h1>

    <p>The address is: {{selectedSite.url}}</p>
    <hr>
    <hr>
    <hr>
    <p>Take Array[object] as data source</p>
    <select ng-model="selectedSite1" ng-options="x for (x, y) in places"></select>
    <br>
    <hr>
    <select ng-model="selectedCar" ng-options="y.model for (x, y) in cars"></select>
</div>
<!--<script src="https://code.angularjs.org/1.6.9/angular.js"></script>-->
<script src="../lib/angular-1.8.0/angular.js"></script>
<script src="app.js"></script>
</body>
</html>